<!DOCTYPE html>
<html lang="en">
<head>
    <title>Iris Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .container{
        width:40%;
        margin-left:auto;
        margin-right:auto;
        border:3px dashed #00f;
        border-radius:7px;
        padding:7px;
        background:#c0c088
    }
</style>
<body>
    <div class="container">
    <h1>Iris Application</h1><hr>
    <p>This is a simple Iris application using Python Django</p>
    <table>
        <form action="result">
            <tr>
                <td>Sepal Length:</td>
                <td><input type="number" name="sepal_length" required><br></td>
            </tr>
            <tr>
                <td>Sepal Width:</td>
                <td><input type="number" name="sepal_width" required><br></td>
            </tr>
            <tr>
                <td>Sepal Width:</td>
                <td><input type="number" name="sepal_width" required><br></td>
            </tr>
            <tr>
                <td>Petal Length:</td>
                <td><input type="number" name="petal_length" required><br></td>
            </tr>
            <tr>
                <td>Petal Width:</td>
                <td><input type="number" name="petal_width" required><br></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Check"></td>
            </tr>
             
        </form>
    </table>
</div>
</body>
</html>